In [58]:
import pandas as pd
import random
import numpy as np

In [59]:
file = "Project-1/college_ed.csv"

In [66]:
df = pd.read_csv("college_ed.csv")

df.groupby(['Country']).head()

df = df.drop(df[(df.Year < 2000) | (df.Year > 2010)].index)

df[df.Code != '']
df[df.Country != 'World']

                  Country Code  Year  College Enrolment ratio
14            Afghanistan  AFG  2003                 1.256840
15            Afghanistan  AFG  2004                 1.256030
16            Afghanistan  AFG  2009                 3.903390
40                Albania  ALB  2000                15.603730
41                Albania  ALB  2001                15.974960
42                Albania  ALB  2002                16.431709
43                Albania  ALB  2003                16.805559
44                Albania  ALB  2004                20.055540
45                Albania  ALB  2005                23.311100
46                Albania  ALB  2006                26.620440
47                Albania  ALB  2007                30.653669
48                Albania  ALB  2008                32.077801
49                Albania  ALB  2009                33.400749
50                Albania  ALB  2010                44.540649
65                Algeria  DZA  2001                15.563460
66                Algeria  DZA  2002                17.272110
67                Algeria  DZA  2003                18.473070
68                Algeria  DZA  2004                19.043360
69                Algeria  DZA  2005                20.761471
70                Algeria  DZA  2006                21.230040
71                Algeria  DZA  2007                23.488190
72                Algeria  DZA  2009                29.818720
73                Algeria  DZA  2010                29.834560
85                 Angola  AGO  2002                 0.796680
86                 Angola  AGO  2003                 2.951680
87                 Angola  AGO  2004                 2.219850
88                 Angola  AGO  2005                 2.748780
89                 Angola  AGO  2006                 2.691780
92    Antigua and Barbuda  ATG  2009                14.810050
93    Antigua and Barbuda  ATG  2010                16.231960
...                   ...  ...   ...                      ...
6091              Vanuatu  VUT  2001                 3.773270
6092              Vanuatu  VUT  2002                 4.784050
6093              Vanuatu  VUT  2003                 4.691750
6094              Vanuatu  VUT  2004                 4.744400
6116            Venezuela  VEN  2000                28.526661
6117            Venezuela  VEN  2002                38.240829
6118            Venezuela  VEN  2003                39.738911
6119            Venezuela  VEN  2004                41.550961
6120            Venezuela  VEN  2008                77.457352
6121            Venezuela  VEN  2009                76.979591
6140              Vietnam  VNM  2000                 9.412480
6141              Vietnam  VNM  2001                 9.470650
6142              Vietnam  VNM  2002                 9.730820
6143              Vietnam  VNM  2003                10.118500
6144              Vietnam  VNM  2005                16.052870
6145              Vietnam  VNM  2006                16.670870
6146              Vietnam  VNM  2007                18.363640
6147              Vietnam  VNM  2008                18.945749
6148              Vietnam  VNM  2009                20.109920
6149              Vietnam  VNM  2010                22.687679
6202                Yemen  YEM  2002                10.631170
6203                Yemen  YEM  2003                10.165490
6204                Yemen  YEM  2004                 9.664880
6205                Yemen  YEM  2005                 9.615120
6206                Yemen  YEM  2006                 9.240600
6207                Yemen  YEM  2007                10.450380
6208                Yemen  YEM  2008                10.614780
6209                Yemen  YEM  2009                11.131560
6210                Yemen  YEM  2010                10.573480
6250             Zimbabwe  ZWE  2010                 5.905600

[1676 rows x 4 columns]

In [61]:
print('Shape', df.shape)
print('-------------------------')
print('Number of rows', len(df))
print('-------------------------')
print('Column headers', df.columns)
print('-------------------------')
print('Data types', df.dtypes)
print('-------------------------')
print('Index', df.index)
print('-------------------------')

Shape (1687, 4)
-------------------------
Number of rows 1687
-------------------------
Column headers Index(['Country', 'Code', 'Year', 'College Enrolment ratio'], dtype='object')
-------------------------
Data types Country                     object
Code                        object
Year                         int64
College Enrolment ratio    float64
dtype: object
-------------------------
Index Int64Index([  14,   15,   16,   40,   41,   42,   43,   44,   45,   46,
            ...
            6202, 6203, 6204, 6205, 6206, 6207, 6208, 6209, 6210, 6250],
           dtype='int64', length=1687)
-------------------------

In [62]:
df.to_csv("educationoutput.csv")